<!--News-->
<section class="mcare-news-wrap">

    <div class="container">

        <div class="row">

            <h2 class="mcare-h2">Press & Articles</h2>

            <div class="mcare-news-inner owl-carousel">


                <div class="">

                    <!--mcare news box-->

                    <div class="mcare-news-box">

                        <div class="news-img">

                            <a href="#"><img src="images/blog11.jpg" class="img-responsive" alt="">

                                <em></em></a>

                            <div class="date-meta day-meta"><a href="#">April 5</a></div>

                            <div class="date-meta year-meta"><a href="#">2016</a></div>

                        </div>

                        <h4>Could environmental toxins trigger brain?</h4>

                        <p class="text-content">Pellentesque habitantsd morbi tristique senec tus et netus et
                            malesuada fames ac egestas. fame turpis egestas.</p>

                        <div class="foot-meta">

                            <span class="news-author"><i class="fa fa-user"></i>Dr. Jane Martin</span>

                            <span class="comments"><i class="fa fa-comments"></i>13</span>

                            <span class="readmore"><a href="#">Read More</a></span>

                        </div>

                    </div>

                </div>


                <div class="">

                    <!--mcare news box-->

                    <div class="mcare-news-box">

                        <div class="news-img">

                            <a href="#"><img src="images/blog44.jpg" class="img-responsive" alt="">

                                <em></em></a>

                            <div class="date-meta day-meta"><a href="#">April 5</a></div>

                            <div class="date-meta year-meta"><a href="#">2016</a></div>

                        </div>

                        <h4>Protein helps cancer cells pave migration</h4>

                        <p class="text-content">Pellentesque habitantsd morbi tristique senec tus et netus et
                            malesuada fames ac egestas. fame turpis egestas.</p>

                        <div class="foot-meta">

                            <span class="news-author"><i class="fa fa-user"></i>Dr. Jack Thomas</span>

                            <span class="comments"><i class="fa fa-comments"></i>13</span>

                            <span class="readmore"><a href="#">Read More</a></span>

                        </div>

                    </div>

                </div>


                <div class="">

                    <!--mcare news box-->

                    <div class="mcare-news-box">

                        <div class="news-img">

                            <a href="#"><img src="images/blog55.jpg" class="img-responsive" alt="">

                                <em></em></a>

                            <div class="date-meta day-meta"><a href="#">April 5</a></div>

                            <div class="date-meta year-meta"><a href="#">2016</a></div>

                        </div>

                        <h4>Cataplexy: Causes and Treatment</h4>

                        <p class="text-content">Pellentesque habitantsd morbi tristique senec tus et netus et
                            malesuada fames ac egestas. fame turpis egestas.</p>

                        <div class="foot-meta">

                            <span class="news-author"><i class="fa fa-user"></i>Dr. Louis Peters</span>

                            <span class="comments"><i class="fa fa-comments"></i>13</span>

                            <span class="readmore"><a href="#">Read More</a></span>

                        </div>

                    </div>

                </div>


                <div class="">

                    <!--mcare news box-->

                    <div class="mcare-news-box">

                        <div class="news-img">

                            <a href="#"><img src="images/blog11.jpg" class="img-responsive" alt="">

                                <em></em></a>

                            <div class="date-meta day-meta"><a href="#">April 5</a></div>

                            <div class="date-meta year-meta"><a href="#">2016</a></div>

                        </div>

                        <h4>Could prebiotics benefit brain development?</h4>

                        <p class="text-content">Pellentesque habitantsd morbi tristique senec tus et netus et
                            malesuada fames ac egestas. fame turpis egestas.</p>

                        <div class="foot-meta">

                            <span class="news-author"><i class="fa fa-user"></i>Dr. Jack Thomas</span>

                            <span class="comments"><i class="fa fa-comments"></i>13</span>

                            <span class="readmore"><a href="#">Read More</a></span>

                        </div>

                    </div>

                </div>


                <div class="">

                    <!--mcare news box-->

                    <div class="mcare-news-box">

                        <div class="news-img">

                            <a href="#"><img src="images/blog44.jpg" class="img-responsive" alt="">

                                <em></em></a>

                            <div class="date-meta day-meta"><a href="#">April 5</a></div>

                            <div class="date-meta year-meta"><a href="#">2016</a></div>

                        </div>

                        <h4>Novel use to study in vivo protein structure</h4>

                        <p class="text-content">Pellentesque habitantsd morbi tristique senec tus et netus et
                            malesuada fames ac egestas. fame turpis egestas.</p>

                        <div class="foot-meta">

                            <span class="news-author"><i class="fa fa-user"></i>Dr. Louis Peters</span>

                            <span class="comments"><i class="fa fa-comments"></i>13</span>

                            <span class="readmore"><a href="#">Read More</a></span>

                        </div>

                    </div>

                </div>


                <div class="">

                    <!--mcare news box-->

                    <div class="mcare-news-box">

                        <div class="news-img">

                            <a href="#"><img src="images/blog55.jpg" class="img-responsive" alt="">

                                <em></em></a>

                            <div class="date-meta day-meta"><a href="#">April 5</a></div>

                            <div class="date-meta year-meta"><a href="#">2016</a></div>

                        </div>

                        <h4>Protein helps cancer cells pave migration</h4>

                        <p class="text-content">Pellentesque habitantsd morbi tristique senec tus et netus et
                            malesuada fames ac egestas. fame turpis egestas.</p>

                        <div class="foot-meta">

                            <span class="news-author"><i class="fa fa-user"></i>Dr. Jack Thomas</span>

                            <span class="comments"><i class="fa fa-comments"></i>13</span>

                            <span class="readmore"><a href="#">Read More</a></span>

                        </div>

                    </div>

                </div>


            </div>

        </div>

    </div>

</section>