<!--Full Width Counter Wrap-->
<section class="mcare-fullwith-section">

    <div class="full-conter-wrap parallax4 parallax-section">

        <div class="para-overlay">

            <div class="container-fluid">

                <div class="row">

                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 counter-inner">


                        <!--Counter Box 1 -->

                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6 mobile-full">

                            <div class="counter-box">

                                <i class="mcare-flaticon-stethoscope11 counter-icon"></i>

                                <div class="counter-style" id="myTargetElement"></div>

                                <h4 class="counter-lable">Our Hospitals</h4>


                            </div>

                        </div><!--Counter Box 1 End-->


                        <!--Counter Box 2 -->

                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6 mobile-full">

                            <div class="counter-box">


                                <div class="counter-num-wrap">

                                    <i class="mcare-flaticon-injection counter-icon"></i>

                                    <span class="counter-style" id="myTargetElement2"></span>

                                </div>

                                <h4 class="counter-lable">Our Doctors</h4>


                            </div>

                        </div><!--Counter Box 2 End-->


                        <!--Counter Box 3 -->

                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6 mobile-full">

                            <div class="counter-box">

                                <i class="mcare-flaticon-lifeline5 counter-icon"></i>

                                <div class="counter-style" id="myTargetElement3"></div>

                                <h4 class="counter-lable">Total Rooms</h4>


                            </div>

                        </div><!--Counter Box 3 End-->


                        <!--Counter Box 4 -->

                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6 mobile-full">

                            <div class="counter-box">

                                <i class="mcare-flaticon-medical38 counter-icon"></i>

                                <div class="counter-style" id="myTargetElement4"></div>

                                <h4 class="counter-lable">Happy Patient</h4>


                            </div>

                        </div><!--Counter Box 4 End-->


                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 no-pad">

                        <div class="counter-text">

                            <h4>Successful 1000+ surgeries</h4>

                            <p class="text-content">More than 3,300 physicians, scientists and researchers Lorem
                                ipsum dolor sit, consectetuer adipiscing elit sed diam nonummy nibh euismod.
                                Lorem ipsum dolor sit amet, consectetuer</p>

                            <a href="#" class="mcare-button button2">Discover more</a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>
